.filters {
  text-align: center;
}

.filters__form__vendor {
  display: flex;
  justify-content: center;
}

.filters__form__pay-type {
  display: flex;
  justify-content: center;
}

.widget {
  text-align: center;
}
